<!doctype html>
<html  lang="en"> 
<head>
    <meta charset="utf-8">

    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

    <title>SEY.FOSS | Fullwidth page</title>
    <meta name="description" content="Bootsrap based theme">

    <meta name="viewport" content="width=device-width">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../img/ico/apple-touch-icon-57-precomposed.png">


    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/fonts.css">
    

</head>
<body class="theme">
    
    <!-- Page Header -->
    <header id="masthead">       
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>


                    <h1>
                        <a class="brand" href="index.html">
                            SEY.FOSS
                            <i class="icon-beaker"></i>
                        </a>
                            
                    </h1>
            
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="about.html">About us page</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Services page</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">FAQ page</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="post.html">Single post</a>
                                    </li>
                                    <li>
                                        <a href="sidebar-right.html">Right sidebar</a>
                                    </li>
                                    <li>
                                        <a href="sidebar-left.html">Left sidebar</a>
                                    </li>
                                    <li>
                                        <a href="fullwidth.html">Full width</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="portfolio-3col.html">Three columns</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4col.html">Four columns</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-featured.html">Featured item</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">Single item</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    
    <!-- Main Content -->
    <div id="content" role="main">
    
        <section id="promo" class="section alt">
            <div class="container">
                <div class="hero-unit">
                    <h1>Fullwidth page</h1>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <article class="blog-post">
                            <header class="blog-header">
                                <h2>
                                    Page Subtitle <small>by <a href="#">John Doe</a>, 12 Sep 2012.</small>
                                </h2>
                            </header>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Nullam eget suscipit turpis. Suspendisse nec magna et velit elementum vulputate. Suspendisse ac nibh lectus, at sollicitudin turpis. Aenean ut tortor a felis consectetur pulvinar. Phasellus mattis viverra luctus. Pellentesque tempor bibendum arcu non vestibulum. In bibendum mattis nibh, nec laoreet enim pretium a. Donec augue sem, convallis euismod pellentesque non, facilisis non nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis blandit cursus mi, malesuada euismod enim accumsan nec. Pellentesque nisl enim, elementum non molestie eu, lobortis sed odio. Mauris vehicula commodo neque, nec viverra libero accumsan in.
                            </p>
                            <div class="row-fluid">
                                <div class="span6">
                                    <p>
                                        Vestibulum et dapibus orci. Vivamus non elit sed quam egestas egestas. Donec interdum ultrices ante ac pharetra. Praesent euismod augue erat, vel ornare sem. Morbi ante nisl, fringilla at commodo vitae, cursus aliquet lacus. Maecenas nec orci at est venenatis congue vitae eget justo. Aenean dui odio, eleifend sed viverra et, eleifend vitae tortor. Duis ac diam vitae risus aliquam tempor. Phasellus volutpat, metus porttitor ornare gravida, erat lacus bibendum lectus, et dictum tortor ligula a est. Proin id purus eget mi vestibulum accumsan. Nam scelerisque malesuada tellus vel laoreet. Vestibulum eleifend, risus ut faucibus iaculis, tellus lacus laoreet tellus, eget placerat tellus leo in magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sollicitudin blandit orci, at egestas tortor consectetur eu.
                                    </p>
                                    <p>
                                        Integer quam tellus, aliquet quis luctus id, porttitor eget eros. Fusce tempus metus metus.Phasellus sed massa eu turpis imperdiet cursus.  Nunc euismod gravida condimentum. Duis rhoncus convallis mauris at congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque malesuada tellus vel laoreet. Vestibulum eleifend, risus ut faucibus iaculis, tellus lacus laoreet tellus, eget placerat tellus leo in magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sollicitudin blandit orci, at egestas tortor consectetur eu.
                                    </p>
                                    <p>
                                        In t purus, blandit eget pulvinar ac, lobortis vel ligula. Etiam arcu risus, auctor ut placerat lacinia, volutpat quis enim. Duis porta porta gravida Aliquam pretium ante vel lectus rutrum bibendum. Quisque tempor dolor vitae metus ultrices eget egestas orci tristique. Maecenas bendum elementum justo dapibus pretium. Praesent aliquam elit non tortor luctus egestas.
                                    </p>
                                </div>    
                                <div class="span6">
                                    <img src="../img/assets/nightlife6-600x700.jpeg" alt=""> 
                                </div>
                            </div>
                            
                            <p>
                                Quisque diam libero, aliquam eget blandit et, vulputate vel felis. Quisque ut purus at justo mattis volutpat. Curabitur nibh neque, sodales feugiat suscipit vel, vulputate nec quam. Sed quam nulla, sollicitudin non pulvinar in, viverra ac nunc. Maecenas a neque quis mauris vehicula viverra eu eget elit. Suspendisse potenti. Donec tincidunt sollicitudin elementum. Nunc volutpat purus ac lectus tincidunt et bibendum quam sollicitudin. Pellentesque rutrum ultricies porttitor. Suspendisse pellentesque rutrum mollis. Integer varius nulla quis metus varius imperdiet.
                            </p>
                            <p>
                                Vivamus nulla lectus, scelerisque eget elementum at, malesuada quis leo. Pellentesque ac odio magna, eu dapibus erat. Sed placerat lacinia justo, at suscipit tortor mollis ut. Morbi vitae nulla felis. Maecenas mollis egestas feugiat. Integer porttitor tincidunt enim sit amet pellentesque. Fusce faucibus suscipit iaculis. Pellentesque fringilla accumsan massa, vitae tincidunt nulla malesuada sit amet. Mauris hendrerit tincidunt egestas. Vestibulum consectetur porta est id consequat. In lacinia condimentum ligula, at consequat turpis auctor vitae. Morbi vitae tortor sit amet velit rutrum viverra non eget lectus. Ut elementum metus in felis luctus pellentesque.
                            </p>
                            <p>
                                Phasellus sed massa eu turpis imperdiet cursus. Nunc euismod gravida condimentum. Duis rhoncus convallis mauris at congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In velit purus, blandit eget pulvinar ac, lobortis vel ligula. Etiam arcu risus, auctor ut placerat lacinia, volutpat quis enim. Duis porta porta gravida. Aliquam pretium ante vel lectus rutrum bibendum. Quisque tempor dolor vitae metus ultrices eget egestas orci tristique. Maecenas bibendum elementum justo dapibus pretium. Praesent aliquam elit non tortor luctus egestas.
                            </p>
                        </article>

                    </div>    
                </div>
            </div>
        </section>

    </div>


    <!-- Page Footer -->
    <footer  id="footer" role="contentinfo" class="section">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <h3>Contact us</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <ul class="icons">
                        <li>
                            <i class="icon-envelope"></i><a href="mailto:dave@davegandy.com">John Doe</a>
                        </li>
                        <li>
                            <i class="icon-twitter"></i><a href="http://twitter.com/oxygenna/" target="_blank">@FortAweso_me</a>
                        </li>
                        <li>
                            <i class="icon-facebook"></i><a href="http://kyruus.com" target="_blank">oxygenna</a>
                        </li>
                    </ul>
                </div>
                <div class="span4">
                    <h3>Recent news</h3>
                    <ul class="icons">
                        <li><p>
                                <i class="icon-twitter"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                <small>
                                    by <a href="#">oxygenna.com</a>
                                </small>
                            </p>
                        </li>
                        <li><p>
                                <i class="icon-twitter"></i>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                <small>
                                    by <a href="#">oxygenna.com</a>
                                </small>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="span4">
                    <h3>Latest posts</h3>
                    <ul class="unstyled">
                        <li>
                            <h4><a href="#">A responsive business theme</a></h4>
                            <p><small>November 12, 2012</small></p>
                        </li>
                        <li>
                            <h4><a href="#">Designed for big and small screens</a></h4>
                            <p><small>August 23, 2012</small></p>
                        </li>
                        <li>
                            <h4><a href="#">Based on bootstrap framework</a></h4>
                            <p><small>July 22, 2011</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/libs/jquery.min.js"><\/script>')</script>

    <!-- Load boostrap and custom scripts -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
    <!-- end scripts -->

    
</body>
</html>