<!doctype html>
<html  lang="en"> 
<head>
    <meta charset="utf-8">

    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

    <title>SEY.FOSS | Portfolio four columns</title>
    <meta name="description" content="Bootsrap based theme">

    <meta name="viewport" content="width=device-width">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../img/ico/apple-touch-icon-57-precomposed.png">


    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/fonts.css">
    

</head>
<body class="theme">
    
    <!-- Page Header -->
    <header id="masthead">       
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>


                    <h1>
                        <a class="brand" href="index.html">
                            SEY.FOSS
                            <i class="icon-beaker"></i>
                        </a>
                            
                    </h1>
            
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="about.html">About us page</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Services page</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">FAQ page</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="post.html">Single post</a>
                                    </li>
                                    <li>
                                        <a href="sidebar-right.html">Right sidebar</a>
                                    </li>
                                    <li>
                                        <a href="sidebar-left.html">Left sidebar</a>
                                    </li>
                                    <li>
                                        <a href="fullwidth.html">Full width</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="portfolio-3col.html">Three columns</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4col.html">Four columns</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-featured.html">Featured item</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">Single item</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <div id="content" role="main">

        <section id="promo" class="section alt">
            <div class="container">
                <div class="hero-unit">
                    <h1>Our portfolio.</h1>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="page-header thumbnail-filters">
                    <h1>
                        Filter <small><a href="#" data-filter="all" class="active"> all </a> / <a href="#" data-filter="people">people </a> / <a href="#" data-filter="abstract"> abstract </a> / <a href="#" data-filter="city"> city life</a></small>
                    </h1>
                </div>  
                <ul class="thumbnails bordered thumbnail-list">
                    <li class="span3 filter-people">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/people1-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Lorem ipsum</span></h3>
                                    <p><span>dolor sit amet</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-city">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/nightlife6-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Consectetur</span></h3>
                                    <p><span>adipisicing elit</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-city">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/city9-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Tempor incididunt</span></h3>
                                    <p><span>ut labore et dolore</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-abstract">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/abstract3-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Magna aliqua</span></h3>
                                    <p><span>Ut enim ad minim</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-people">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/fashion6-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Veniam</span></h3>
                                    <p><span>Quis nostrud exercitation</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-people">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/nightlife1-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Ullamco laboris</span></h3>
                                    <p><span>nisi ut aliquip</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-people">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/people5-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Commodo</span></h3>
                                    <p><span>Duis aute irure dolor </span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-city">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/nightlife3-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Reprehenderit</span></h3>
                                    <p><span>In velit esse</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-city">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/city1-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Cillum dolore</span></h3>
                                    <p><span>SEO manager</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-city">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/people1-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Reprehenderit</span></h3>
                                    <p><span>In velit esse</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-people">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/fashion9-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Veniam</span></h3>
                                    <p><span>Quis nostrud exercitation</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                    <li class="span3 filter-city">
                        <a href="portfolio-item.html">
                            <figure class="thumbnail-figure">
                                <img src="../img/assets/city8-600x400.jpeg" alt="">
                                <figcaption class="thumbnail-title">
                                    <h3><span>Reprehenderit</span></h3>
                                    <p><span>In velit esse</span></p>
                                </figcaption>    
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="section alt">
            <div class="container">
                <div class="hero-unit pull-center">
                    <h1>Got a question?</h1>
                    <p>
                    	want to work with us to move your bussines to the next level? Well, dont be afraid
                    </p>
                    <a href="contact.html" class="btn btn-primary btn-large">
                    	contact us
        			</a>
                </div>
            </div>
        </section>

    </div>
    
    <!-- Page Footer -->
    <footer  id="footer" role="contentinfo" class="section">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <h3>Contact us</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <ul class="icons">
                        <li>
                            <i class="icon-envelope"></i><a href="mailto:dave@davegandy.com">John Doe</a>
                        </li>
                        <li>
                            <i class="icon-twitter"></i><a href="http://twitter.com/oxygenna/" target="_blank">@FortAweso_me</a>
                        </li>
                        <li>
                            <i class="icon-facebook"></i><a href="http://kyruus.com" target="_blank">oxygenna</a>
                        </li>
                    </ul>
                </div>
                <div class="span4">
                    <h3>Recent news</h3>
                    <ul class="icons">
                        <li><p>
                                <i class="icon-twitter"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                <small>
                                    by <a href="#">oxygenna.com</a>
                                </small>
                            </p>
                        </li>
                        <li><p>
                                <i class="icon-twitter"></i>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                <small>
                                    by <a href="#">oxygenna.com</a>
                                </small>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="span4">
                    <h3>Latest posts</h3>
                    <ul class="unstyled">
                        <li>
                            <h4><a href="#">A responsive business theme</a></h4>
                            <p><small>November 12, 2012</small></p>
                        </li>
                        <li>
                            <h4><a href="#">Designed for big and small screens</a></h4>
                            <p><small>August 23, 2012</small></p>
                        </li>
                        <li>
                            <h4><a href="#">Based on bootstrap framework</a></h4>
                            <p><small>July 22, 2011</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/libs/jquery.min.js"><\/script>')</script>

    <!-- Load boostrap and custom scripts -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
    <!-- end scripts -->

    
</body>
</html>